registry=https://registry.npmmirror.com
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

# 配置 fsevents 镜像
fsevents_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/

# 配置 node-sass 镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
